PORT=8000
MONGO_URI=mongodb+srv://rishikeshtechofficial_db_user:OfficersMess2026@mainprojectsdb.cby2tqt.mongodb.net/?retryWrites=true&w=majority&appName=MainProjectsDB
DB_NAME=officers-mess
JWT_SECRET=officers_mess_super_secret_key_2026
JWT_REFRESH_SECRET=officers_mess_refresh_secret_key_secure_2026
PAYMENT_MODE=RAZORPAY
RAZORPAY_KEY_ID=rzp_test_TXS5Yma0OmV7Zd
RAZORPAY_KEY_SECRET=Pza2YntmJIIR0GJwa9E6grtI

# SSL Configuration (On Render/cloud, SSL is handled automatically by cloud provider)
USE_HTTPS=false
